{% extends "index.html" %}

{% block form %}
  <div class="w-full h-full md:grid md:grid-cols-3">
    <form
      action=""
      class="flex flex-col items-center col-span-2 px-4 py-12 md:px-8"
      method="POST"
    >

      {% include "stage.html" %}

      <div class="flex justify-center mt-12">
        {% csrf_token %} 

        {{ wizard.management_form }}

          <form-section active header="{{form_options.header}}" sub-header="{{form_options.sub_header}}">
            {% block form_section %}
                  {% for field in form %}

                    <div class="grid gap-4">
                      {{ field.errors }} {{ field.label_tag }} {{ field }}
                    </div>

                  {% endfor %}
            {% endblock %}
          </form-section>
        </div>


      <div class="flex justify-center w-full">
        {% if wizard.steps.current == wizard.steps.last %}


          <input class="w-64 py-3 mt-12 font-bold tracking-widest text-white uppercase bg-indigo-500 rounded-lg shadow-md" value="submit" type="submit">

        {% else %}

        <button
          name="wizard_goto_step"
          value="{{wizard.steps.next}}"
          id="btn"
          class="w-64 py-3 mt-12 font-bold tracking-widest text-gray-900 uppercase bg-green-400 rounded-lg shadow-md"
        >next</button>
        
        {% endif %}

      </div>

    </form>

    <!-- Section -->
    {% include "pricing.html" %}
  </div>
{% endblock %}
