<div
  class="w-full px-8 py-12 text-center text-white bg-indigo-500 font-inter"
>
  <div class="flex flex-col items-start px-12 space-y-3 text-left">
    <p class="text-2xl font-semibold capitalize">business</p>

    <p class="text-5xl font-bold">
      <span class="text-3xl">£</span>9.99 <span class="text-base">/ month</span>
    </p>

    <p class="pb-12 text-sm font-light">Automatically renews after 1 month</p>



    </div>

  <div class="grid gap-4 text-left">
      <product-benefit benefit="Professional Landing Page"></product-benefit>
      <product-benefit benefit="Photos, Reviews and Copywriting created by experts"></product-benefit>
      <product-benefit benefit="Automatic Job posting and Management on gumtree, craigslist and 30 other sites"></product-benefit>
      <product-benefit benefit="Daily Analytic reports and tutorials on how to take action"></product-benefit>
  </div>

    <hr class="mt-20 text-indigo-200 ">

  <div>
      <p class="mt-4 italic font-normal leading-relaxed font-proxima text-indigo-50">
        As someone who just started my business, getting <span class="font-bold">handyman</span> and having everything taken care for me allowed me to focus on doing the work, rather than getting clients. 
      </p>

    <div class="flex items-center justify-around mt-4 text-left">
      <div>
            <p class="font-semibold tracking-wider uppercase font-inter">Jacek Litwinski</p>
            <p class="text-sm font-inter">Decorator</p>

      </div>

      <img class="w-16 h-16" alt="" src="{% static 'imgs/testimonial-1.png' %}">
    </div>

  </div>

</div>
