<section class="flex justify-center px-8 py-24 overflow-hidden md:mt-12">
  <div class="max-w-5xl">
    <h2 class="text-2xl font-bold text-left text-gray-900 md:text-3xl md:text-center font-proxima">
      Create a perfect website in just 30 seconds
    </h2>
    <h3 class="mt-2 text-xl text-gray-500 md:text-center font-inter">
      Do we support your professions?
      
    </h3>

    <div class="flex flex-col items-center mt-8 space-x-24 text-lg md:flex-row">
      <div class="flex flex-col justify-around font-inter">

      <div class="flex justify-center mt-8 space-x-6 text-xl text-gray-900 md:space-x-24 md:justify-start font-proxima">
<div class="grid gap-4 font-bold">
      <img
        class="h-12 mx-auto"
        src="{% static 'imgs/painter-icon.png' %}"
        alt="Our professionally crafted profession sections"
      />
        <p>Painting</p>
</div>


<div class="grid gap-4 font-bold">
      <img
        class="h-12 mx-auto"
        src="{% static 'imgs/wallpaper-icon.png' %}"
        alt="Our professionally crafted profession sections"
      />
        <p>Wallpapering</p>
</div>


<div class="grid gap-4 font-bold">
      <img
        class="h-12 mx-auto"
        src="{% static 'imgs/builder-icon.png' %}"
        alt="Our professionally crafted profession sections"
      />
        <p>Building</p>
</div>
      </div>

        <p class="mt-12 text-xl leading-relaxed text-gray-600 font-proxima">
              One Click, and you've got a perfect website + our in-house ai doing your automated marketing.
        </p>

      </div>


      <img
        class="hidden mt-12 rounded-lg shadow-xl md:block md:ml-auto md:mt-0"
        src="{% static 'imgs/product-example-3.png' %}"
        alt="Our professionally crafted profession sections"
      />
    </div>
  </div>
</section>