<section class="flex justify-center px-8 py-12 my-24 overflow-hidden">
  <div class="max-w-5xl">

    <h2 class="text-4xl font-bold text-center text-gray-900 font-proxima">
      A PROVEN TRACK RECORD
    </h2>
    <h3 class="mt-2 text-xl text-center text-gray-500 md:text-2xl font-inter">
      Content & Copywriting writen by experts.
    </h3>
      <div class="flex flex-col items-center mt-6 text-lg md:mt-24 md:space-x-24 md:justify-between md:flex-row font-inter">

      <p class="mt-6 text-xl leading-relaxed ">

          Using our built-in analytics we’ve perfected the site to get the best
          conversion rate.

          Out of the box authority. It also comes with our hundreds of
          trustpilot reviews.
      </p>

      <div
        class="w-full mt-8 ml-0 bg-contain rounded-lg shadow-xl md:mt-0 lg:ml-auto h-96"
        style="background-image: url('../static/imgs/product-showcase-1.png');"
        alt="Our professionally crafted profession sections"
      ></div>
    </div>
  </div>
</section>