<section class="relative flex justify-center px-8 py-12 overflow-hidden">
  <div class="max-w-5xl my-24">

    <h2 class="text-4xl font-bold text-center text-gray-900 md:text-6xl font-proxima">
      A PROVEN TRACK RECORD
    </h2>
    <h3 class="mt-2 text-xl text-center text-blueGray-500 md:text-2xl font-inter">
      Content & Copywriting writen by experts.
    </h3>
      <div class="flex flex-col items-center mt-6 text-lg md:mt-24 md:space-x-24 md:justify-between md:flex-row font-inter">

      <p class="mt-6 text-xl leading-relaxed ">

          Using our built-in analytics we’ve perfected the site to get the best
          conversion rate.

          Out of the box authority. It also comes with our hundreds of
          trustpilot reviews.
      </p>



      <div
        class="absolute bottom-0 w-full h-screen bg-no-repeat bg-cover rounded-lg left-96"
        style="z-index: -100; background-image: url('../static/imgs/bg-o25blob-3.svg');"
        alt="background blob"
      ></div>

<div class="relative w-full h-96">
      <div
        class="w-full mt-8 ml-0 bg-no-repeat bg-cover rounded-lg shadow-xl md:mt-0 lg:ml-auto h-96"
        style="background-image: url('../static/imgs/product-showcase-1.png');"
        alt="Our product showcase"
      ></div>

      <div
        class="absolute top-0 right-0 w-6 h-6 bg-no-repeat bg-cover md:right-96 md:top-52 "
        style="z-index: -100; background-image: url('../static/imgs/bg-blob-yellow-1.svg');"
        alt="background blob"
      ></div>

      <div
        class="absolute w-64 h-64 bg-no-repeat bg-cover top-32 md:bottom-32 left-40"
        style="z-index: -100; background-image: url('../static/imgs/bg-blob-green-1.svg');"
        alt="background blob"
      ></div>


      <div
        class="absolute w-16 h-16 bg-no-repeat bg-contain bottom-96 left-80"
        style="z-index: -100; background-image: url('../static/imgs/bg-dots.svg');"
        alt="background blob"
      ></div>

      <div
        class="absolute bg-no-repeat bg-cover rounded-lg bottom-12 md:bottom-32 right-24 w-96 h-96"
        style="z-index: -100; background-image: url('../static/imgs/bg-blob-2.svg');"
        alt="background blob"
      ></div>
    </div>

    </div>
  </div>
</section>