<section class="flex justify-center px-8 py-12 my-24 overflow-hidden">
  <div class="max-w-5xl">

    <h2 class="text-4xl font-bold text-center text-gray-900 font-proxima">
      BEAUTIFUL PHOTOGRAPHY
    </h2>
    <h3 class="mt-2 text-xl text-center text-gray-500 md:text-2xl font-inter">
      Comes with licensed images taken by professional photographers
    </h3>
      <div class="flex flex-col mt-6 text-lg md:mt-24 md:space-x-24 md:items-center md:justify-between md:flex-row font-inter">

      <p class="mt-6 text-xl leading-relaxed ">
        We include examples and portfolio’s of professional work from our
        partners. That we include in your site. You could also choose to add your own portfolio. 
      </p>

      <div
        class="w-full mt-8 ml-0 bg-contain rounded-lg shadow-xl md:mt-0 lg:ml-auto h-96"
        style="background-image: url('../static/imgs/product-showcase-2.png');"
        alt="Our professionally crafted profession sections"
      ></div>
    </div>
  </div>
</section>