{% extends "main.html" %} {% block product_showcase2 %}
<section class="flex justify-center px-8 py-12 mt-12">
  <div class="max-w-5xl">
    <h2 class="text-3xl font-bold text-gray-900 font-proxima">
      BEAUTIFUL PHOTOGRAPHY
    </h2>
    <h3 class="text-xl text-gray-500 font-inter">
      Comes with licensed images taken by professional photographers
    </h3>

    <div class="flex items-center mt-12 space-x-6 text-lg">
      <p class="">
        We include examples and portfolio’s of professional work from our
        partners. That you are included in your site.
      </p>
      <p class="">However the site is fully customizable to your needs.</p>

      <img
        class="ml-auto shadow-xl h-96"
        src="{% static 'imgs/product-showcase-2.png' %}"
        alt="Our professionally crafted profession sections"
      />
    </div>
  </div>
</section>

{% endblock %}
