{% extends "main.html" %}

{% block about %}
{{block.super}}
<section class="flex justify-center px-8 py-12 mt-12 bg-gray-50">
  <div class="max-w-5xl">
    <h2 class="text-3xl font-bold text-gray-900 font-proxima">
      Create a perfect website in just 30 seconds
    </h2>
    <h3 class="text-xl text-gray-500 font-inter"></h3>

    <div class="flex items-center mt-12 space-x-6 text-lg">
      <div class="flex flex-col justify-around font-inter">
        <p class="">
          <span class="italic font-bold text-gray-500">
            Do you paint houses?</span
          >
          - press 1 button, and you're setup
        </p>
        <p class="">
          <span class="italic font-bold text-gray-500"
            >Do you also do handyman work?</span
          >
          - press 1 button and you're setup
        </p>
        <p class="mt-12">With over 12 jobs to pick from</p>
      </div>

      <img
        class="ml-auto shadow-xl h-96"
        src="{% static 'imgs/product-showcase-1.png' %}"
        alt="Our professionally crafted profession sections"
      />
    </div>
  </div>
</section>
{% endblock %}
